<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <head th:replace="~{layout/plantilla :: head}">
        <title>TechShop</title>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>

        <section>
            <h1 class='text-center mt-5 text-danger'>[[#{payment.error}]]</h1>
            <p class='text-center mt-3'>[[#{payment.error.text}]]</p>
            <div class='d-flex justify-content-center mt-5'>
                <a th:href='@{/}' class='btn btn-danger'>
                    <i class="fas fa-home"></i> [[#{accion.regresar}]]
                </a>
            </div>
        </section> 

        <footer th:replace="~{layout/plantilla :: footer}"/>

    </body>
</html>
